<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GA Universe Mobile App Builds</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: white;

        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid #ccc; /* Solid border as an alternative */
            /* background: url("https://devsy.tech/_next/static/media/logo.c6052406.svg"); */
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }

        .link-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            color: #fff;
            background-color: #007bff;
            border-radius: 5px;
            margin-top: 20px;
        }

        .footer {
            margin-top: 20px;
            font-size: 10px;
            color: #888;
        }

        img {
            max-width: 100%;
        }

        .img-container {
            position: relative;
            width: 250px;
            margin: 0 auto;
        }

        .w-full {
            width: 100%;
        }

        .gif {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        
    </style>
</head>

<body>
    <div class="container">
        <div class="w-full">
            <div class="img-container">
                <img src="https://miniodevelop.gauniv.com/images/ga_univers.png" alt="logo" />
            </div>
        </div>
        <p>Dear Customer,</p>
        <p>I hope this message finds you well. We are excited to inform you that the requested Android and iOS builds
            have been successfully generated based on your specifications. Our team has been diligently working to
            ensure that the build meets all the outlined requirements and functionalities as per your required needs.
        </p>

        <p>The Android and iOS builds, {{version}}, are now available for download/testing. <b> 
            <br/> Please Login to your account, <br/><br/>
            
            Go to Settings -> Generate Mobile App and download APK/IPA files</b>.</p>

        <p>Thank you for entrusting us with this project. We greatly appreciate your collaboration and partnership.</p>

        <p>Best regards,<br>GA Universe</p>
        <div class="footer">
            <p>This is an automated message. Please do not reply to this email.</p>
        </div>
    </div>
</body>

</html>